body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

#navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-wrapper img {
  height: 15vh; /* Ajuste conforme necessário */
}
#navbar-wrapper ul {
  display: flex;
}
.navbar-li {
  margin: 0 15px;
}

.navbar-li a {
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.navbar-li a:hover {
  color: #007bff; /* Cor ao passar o mouse */
}

.button-navbar {
  margin-left: 15px;
}

.button-navbar input
[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#content-wrapper-news figure{
  width: 10vw;
  height: 50vh;
}
section{
  margin-bottom: 40px;
}



#content-wrapper-Outstanding-Teams{
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  gap: 70px;
  padding: 200px;
}
#content-wrapper-Outstanding-Teams #box-teams-images{
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.teams-images{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-images:first-child{
  background-image: url("../img/sadaLogo.png");
}
.teams-images:nth-child(2){
  background-image: url("../img/renataLogo.png");
}
.teams-images:nth-child(3){
  background-image: url("../img/sesiLogo.png");
}
.teams-images:nth-child(4){
  background-image: url("../img/vedacitLogo.png");
}
.teams-images:nth-child(5){
  background-image: url("../img/itambeminasLogo.png");
}
.teams-images:last-child{
  background-image: url("../img/suzanoLogo.png");
}
#content-wrapper-score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.content-score-matches{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 20vh;
  background-color: #dfdfdf;
}
.content-home-team{
  
}
#image-apa{
  background-image: url("../img/apanLogo.png");
  width: 200px;
  height: 200px;
}
#image-neu{
  width: 200px;
  height: 200px;
  background-image: url("../img/neurologiaAtivaLogo.png");
}